<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Colecciones', stylesheet: 'products/collections.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-collections">
            <h2 class="main-title-collections">Colecciones</h2>
            <div class="container list-products">
                <!-- RECORRER EL ARRAY DE PRODUCTOS -->
                <% for( let collection of collections ) { %>
                    <div class=" container col-md-6 card product-article" id="collection" >
                        <br>
        
                        <img
                        src="/img/collections/<%= collection.collectionName %>.png"
                        class="card-img-top"
                        id="img-prd"
                        alt="<%= collection.name %>"
                        />
                      
                      <div class="card-body">
                        <h5 class="card-title title-prod"><%= collection.collectionName %></h5>
                        
                      </div>
                  </div>
                <% } %>
            </div>
            
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>
