<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/head', {title: 'Detalle Producto', stylesheet: 'products/productDetail.css'}) %>

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="main-productDetail">
      <div class="main-product-detail">
        <div>
          <div class="slider">
            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-left"></i>
            </div> -->

            <div class="slider-img">
              <img src="/img/<%= product.img %>" alt="<%= product.name %>" class="img-slide-menu">
            </div>

            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div> -->

            <div class="flechas-main-banner">
              <i class="fa-solid fa-angle-left"></i>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="icons">
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
          </div>
        </div>

        <div class="cnt-product-detail">
          <div>
            <div class="prd-name-general"><p>Colección <%= product.collection %></p></div>
            <div class="prd-name"><p><%= product.name %></p></div>
            <div class="prd-price"><p><%= product.price %></p></div>

            <div class="prd-stars">
              <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div>
                <p class="prd-star-text">5 reseñas</p>
              </div>
            </div>
            <div class="prd-buy-cnt">
              <div class="prd-buy">
                <p>COMPRA YA!</p>
              </div>

              <div class="icon-numbers">
                <div class="icon-minus">
                  <i class="fa-solid fa-minus"></i>
                </div>

                <div class="cnt-number">
                  <p class="text-number">1</p>
                </div>
                <div class="icon-plus">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="prd-add-cart">
              <p>Agregar al carrito</p>
              <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
          </div>
        </div>

        <div>
          <div class="prd-features">
            <p>Especificaciones / Descripción</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Medios de Pago y Envío</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Reseñas</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <!--------- SECCION OFERTAS | TE PUEDE INTERESAR --------->
      <section class="seccion-product-plus">
        <h3 class="h3-seccion-plus">También te puede interesar...</h3>
        <!-- <div class="icon-left-plus">
          <i class="fa-solid fa-angle-left"></i>
        </div> -->
        <div class="products-plus">

          <% for (let similarProduct of similarProducts) { %>
            <div class="images-products-plus">
              <div class="product-plus">
                <img
                  src="/img/<%= similarProduct.img %>"
                  alt="<%= similarProduct.name %>"
                  class="img-product-plus"
                />
                <div class="info-product-plus">
                  <p class="title-product-plus"><%= similarProduct.name %></p>
                  <p class="price-product-plus"><%= similarProduct.price %></p>
                  <p class="description-product-plus"><%= similarProduct.name %></p>
                </div>
              </div>
            </div>
          <% } %>
          
        </div>
        <!-- <div class="icon-right-plus">
          <i class="fa-solid fa-angle-right"></i>
        </div> -->
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

  </body>
</html>