<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Editar Producto', stylesheet: 'admin/editCreateProduct.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-edit-create-form">

            <!-- TÍTULO DE LA VISTA CON EL NOMBRE DEL PRODUCTO A EDITAR -->
            <h2 class="title-edit-create-form">Editando el producto: <%= product.name %>  </h2>

            <!-- FORMULARIO DE EDICIÓN -->
            <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <!-- INPUT DEL NOMBRE DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="name" class="label-normal-input">Nombre del Producto:</label>
                    <input type="text" id="name" name="name" class="normal-input" placeholder="Ej: Teléfono iPhone 13" value="<%= product.name %>">
                </div>

                <!-- INPUT DEL LA SECCIÓN DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="section" class="label-normal-input">Sección del Producto:</label>
                    <input type="text" id="section" name="section" class="normal-input" placeholder="Ej: Teléfono" value="<%= product.section%>" >
                </div>

                <!-- SELECT DE LA COLECCIÓN DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <h3 class="title-select-edit-create-form">Colección del Producto:</h3>
                    <select name="collection" class="select-edit-create-form">
                        <option value="modern" <%= product.collection == 'modern' ? 'selected' : null %> >Modern</option>
                        <option value="classic" <%= product.collection == 'classic' ? 'selected' : null %>>Classic</option>
                        <option value="colorful" <%= product.collection == 'colorful' ? 'selected' : null %>>Colorful</option>
                        <option value="blackAndWhite" <%= product.collection == 'blackAndWhite' ? 'selected' : null %>>Black & White</option>
                    </select>
                </div>

                <!-- INPUT DE LA MARCA DEL PRODUCTO -->        
                <div class="div-edit-create-form">
                    <label for="brand" class="label-normal-input">Marca del Producto:</label>
                    <input type="text" id="brand" name="brand" class="normal-input" placeholder="Apple" value="<%= product.brand %>">
                </div>

                <!-- INPUT DEL PRECIO DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="price" class="label-normal-input">Precio del Producto:</label>
                    <input type="text" id="price" name="price" class="normal-input" placeholder="Ej: 12500" value="<%= product.price %>">
                </div>

                <!-- INPUT DEL DESCUENTO DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="discount" class="label-normal-input">Descuento del Producto:</label>
                    <input type="text" id="discount" name="discount" class="normal-input" placeholder="Ej: 10" value="<%= product.discount %> ">
                </div>
                
                <!-- TEXTAREA DE LA DESCRIPCIÓN DEL PRODUCTO -->        
                <div class="div-edit-create-form">
                    <label for="description" class="label-normal-input">Descripción del Producto:</label>
                    <textarea name="description" id="description" class="textarea-edit-create-form"><%= product.description %></textarea>
                </div>


                <!-- DIV CON LA IMAGEN ACTUAL DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <h3 class="title-current-image-edit-create-form">Imagen actual: </h3>
                    <img src="/img/products/<%= product.image %>" class="current-image-edit-create-form" alt="Imagen actual del producto">
                </div>

                <!-- INPUT DE LA IMAGEN NUEVA DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="image" class="label-normal-input">Imagen Nueva del Producto:</label>
                    <input type="file" id="image" name="image" class="normal-input image-input">
                </div>

                <!-- BOTONES PARA BORRAR O EDITAR EL PRODUCTO -->
                <div class="buttons-edit-create-form">
                    <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="button-cart button-edit-create-form">Borrar</button>
                    </form>
                    <button type="submit" class="button-cart button-edit-create-form">Editar</button>
                </div>
                
            </form>
      
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>