<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Editar Producto', stylesheet: 'admin/editCreateProduct.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-edit-create-form">

            <!-- TÍTULO DE LA VISTA CON EL NOMBRE DEL PRODUCTO A EDITAR -->
            <h2 class="title-edit-create-form">Editando el producto: <%= product.name %></h2>

            <!-- FORMULARIO DE EDICIÓN -->
            <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editProduct-form" class=" container col-md-8">

                <!-- INPUT DEL NOMBRE DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="name" class="label-normal-input">Nombre del Producto:</label>
                    <% if (locals.errors && errors.name) { %>
                        <span class="text-danger error-feedback-product"><%= errors.name.msg %></span> 
                    <% } %>
                    <input type="text" id="name" name="name" class="normal-input <%= locals.errors && errors.name ? 'is-invalid' : null %>" placeholder="Ej: Teléfono iPhone 13" value="<%= locals.oldData && oldData.name ? oldData.name : product.name %>">
                </div>

                <!-- INPUT DEL LA SECCIÓN DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <h3 class="title-select-edit-create-form">Sección del Producto:</h3>
                    <% if (locals.errors && errors.section) { %>
                        <span class="text-danger error-feedback-product"><%= errors.section.msg %></span> 
                    <% } %>
                    <select name="section" class="select-edit-create-form <%= locals.errors && errors.section ? 'is-invalid' : null %>" id="section">
                    <% for( let section of sections ) { %>
                        <option value="<%= section.id %>" <%= product.sectionId == section.id ? 'selected' : null %>><%= section.sectionName %></option> 
                    <% } %>
                    </select>
                </div>

                <!-- SELECT DE LA COLECCIÓN DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <h3 class="title-select-edit-create-form">Colección del Producto:</h3>
                    <% if (locals.errors && errors.collection) { %>
                        <span class="text-danger error-feedback-product"><%= errors.collection.msg %></span> 
                    <% } %>
                    <select name="collection" class="select-edit-create-form <%= locals.errors && errors.collection ? 'is-invalid' : null %>" id="collection">
                    <% for( let collection of collections ) { %>
                        <option value="<%= collection.id %>" <%= product.collectionId == collection.id ? 'selected' : null %>><%= collection.collectionName %></option> 
                    <% } %>
                    </select>
                </div>

                <!-- INPUT DE LA MARCA DEL PRODUCTO -->        
                <div class="div-edit-create-form">
                    <h3 class="title-select-edit-create-form">Marca del Producto:</h3>
                    <% if (locals.errors && errors.brand) { %>
                        <span class="text-danger error-feedback-product"><%= errors.brand.msg %></span> 
                    <% } %>
                    <select name="brand" class="select-edit-create-form <%= locals.errors && errors.brand ? 'is-invalid' : null %>" id="brand">
                        <% for( let brand of brands ) { %>
                            <option value="<%= brand.id %>" <%= product.brandId == brand.id ? 'selected' : null %>><%= brand.brandName %></option> 
                        <% } %>
                        </select>
                </div>

                <!-- INPUT DEL PRECIO DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="price" class="label-normal-input">Precio del Producto:</label>
                    <% if (locals.errors && errors.price) { %>
                        <span class="text-danger error-feedback-product"><%= errors.price.msg %></span> 
                    <% } %>
                    <input type="text" id="price" name="price" class="normal-input <%= locals.errors && errors.price ? 'is-invalid' : null %>" placeholder="Ej: 12500" value="<%= locals.oldData && oldData.price ? oldData.price : product.price %>">
                </div>

                <!-- INPUT DEL DESCUENTO DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="discount" class="label-normal-input">Descuento del Producto:</label>
                    <input type="text" id="discount" name="discount" class="normal-input" placeholder="Ej: 10" value="<%= locals.oldData && oldData.discount ? oldData.discount : product.discount %>">
                </div>
                
                <!-- TEXTAREA DE LA DESCRIPCIÓN DEL PRODUCTO -->        
                <div class="div-edit-create-form">
                    <label for="description" class="label-normal-input">Descripción del Producto:</label>
                    <% if (locals.errors && errors.description) { %>
                        <span class="text-danger error-feedback-product"><%= errors.description.msg %></span> 
                    <% } %>
                    <textarea name="description" id="description" class="textarea-edit-create-form <%= locals.errors && errors.description ? 'is-invalid' : null %>"><%= locals.oldData && oldData.description ? oldData.description : product.description %></textarea>
                </div>

                <!-- INPUT DE LA IMAGEN DEL PRODUCTO -->
                <div class="div-edit-create-form">
                    <label for="image" class="label-normal-input">Imagen Nueva del Producto:</label>
                    <div class="div-product-image">
                        <img src="/img/products/<%= product.image %>" class='productImage' id="productImage">
                    </div>
                    <% if (locals.errors && errors.image) { %>
                        <span class="text-danger error-feedback-product"><%= errors.image.msg %></span> 
                    <% } %>
                    <input type="file" id="image" name="image" class="normal-input image-input <%= locals.errors && errors.image ? 'is-invalid' : null %>" value="<%= locals.oldImage ? oldImage : null %>">
                </div>

                <!-- ERRORES DE VALIDACIÓN FRONT-END  -->
                <ul class="errors-frontEnd"></ul>

                <!-- BOTONES PARA BORRAR O EDITAR EL PRODUCTO -->
                <div class="buttons-edit-create-form">
                    <button type="submit" class="btn btn-secondary">Editar</button>
            </form>
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" class="form-delete">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
     
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

        <script src="/js/previewProductImage.js" crossorigin="anonymous"></script>
        <script src="/js/validationEditProduct.js" crossorigin="anonymous"></script>
    </body>

</html>