<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Editar Usuario: ' + user.email, stylesheet: 'users/editUser.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="editUser-main">
            <!-- ---------------------SECCION EDICIÓN DE USUARIO--------------------- -->
            <section class="section-editUser">
                <!-- ---------------------FORM EDICIÓN DE USUARIO--------------------- -->
                <form action="/users/userProfile/edit?_method=PUT" method="POST" class="editUser-form">
                    
                    <h3 class="editUser-title">EDICIÓN DE USUARIO</h3>

                    <!-- IMAGEN DE PERFIL -->
                    <div class="upload-image-user">
                        <div class="user-profile-icon">
                            <img src="/img/users/<%= user.image %>" class='profileImage' id="profileImage">
                        </div>
                        <label for="image"><i class="fas fa-camera upload-icon"></i></label>
                        <input type="file" name="image" id="image" class="input-image" value="<%= user.image ? user.image : null %>"accept="image/*"/>
                    </div>

                    <!-- NOMBRE -->
                    <input type="text" name="name" id="name" placeholder="Nombre" class="editUser-form-item" value="<%= user.name%>"/>
                    
                    <!-- APELLIDO -->
                    <input type="text" name="lastName" id="lastName" placeholder="Apellido" class="editUser-form-item" value="<%= user.lastName%>"/>
                    
                    <!-- EMAIL -->
                    
                    <!-- CONTRASEÑA -->
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="editUser-form-item"/>

                     <!-- EMAIL DEL USUARIO -->
                     <p class="editUser-rol">Email: <%= user.email%></p>
                    
                    <!-- ROL DEL USUARIO -->
                    <p class="editUser-rol">Rol: Admin</p>
                    
                    <!-- ---------------------BOTON PARA ENVIAR--------------------- -->
                    <div class="button-cart-div button-editUser">
                        <button type="submit" class="button-cart">Editar</button>
                    </div>

                </form>
            </section>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>