<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Perfil del Usuario', stylesheet: 'users/userProfile.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-profile">
            <h2 class="title-profile">Perfil del Usuario</h2>

            <section class="profile-section">

                <div class="info-profile-div">

                    <img src="/img/users/<%= user.image %> " alt="Foto de perfil del usuario" class="img-profile">
                    <h3 class="username-profile"><%= user.name %> <%= user.lastName %> </h3>
                    <p class="email-profile"><%= user.email %></p>
                    <% if (user.rolId == '1') { %>
                    <p class="rol-profile">Administrador</p>
                    <% } else { %>
                    <p class="rol-profile">Comprador</p>
                    <% } %>
                    <div class="buttons-profile">
                        <form action="/users/userProfile/edit" method="GET" class="form-button-profile">
                            <button class="btn btn-secondary">Editar Usuario</button>
                        </form>
                        <form action="/users/logout" method="GET" class="form-button-profile">
                            <button class="btn btn-secondary">Cerrar Sesión</button>
                        </form>
                    </div>

                </div>

                <div class="purchases-profile">

                    <h3 class="title-purchases-profile">Historial de Compras</h3>

                    <article class="purchase-profile">
                        <a href="" class="link-purchase-profile">
                            <div class="left-div-purchase-profile">
                                <h5 class="title-each-purchase-profile">Compra #1</h5>
                                <p class="id-purchase-profile">id compra:</p>
                                <p class="date-purchase-profile">Fecha de compra:</p>
                            </div>

                            <div class="right-div-purchase-profile">
                                <p class="total-price-purchase-profile">$200.000</p>
                            </div>
                        </a>
                    </article>

                    <article class="purchase-profile">
                        <a href="" class="link-purchase-profile">
                            <div class="left-div-purchase-profile">
                                <h5 class="title-each-purchase-profile">Compra #2</h5>
                                <p class="id-purchase-profile">id compra:</p>
                                <p class="date-purchase-profile">Fecha de compra:</p>
                            </div>

                            <div class="right-div-purchase-profile">
                                <p class="total-price-purchase-profile">$200.000</p>
                            </div>
                        </a>
                    </article>

                    <article class="purchase-profile">
                        <a href="" class="link-purchase-profile">
                            <div class="left-div-purchase-profile">
                                <h5 class="title-each-purchase-profile">Compra #3</h5>
                                <p class="id-purchase-profile">id compra:</p>
                                <p class="date-purchase-profile">Fecha de compra:</p>
                            </div>

                            <div class="right-div-purchase-profile">
                                <p class="total-price-purchase-profile">$200.000</p>
                            </div>
                        </a>
                    </article>
                    
                </div>
            
            </section>

        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>